Dataset: https://www.kaggle.com/datasets/pavansubhasht/ibm-hr-analytics-attrition-dataset

# Assignment Tasks

## 1. Data Understanding

### Import dataset using Pandas.

In [96]:
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt

In [97]:
df = pd.read_csv('data/WA_Fn-UseC_HR_Employee_Attrition.csv')

### Explore the shape, columns, and data types.

In [98]:
df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2

In [99]:
df.shape

(1470, 35)

In [100]:
for i in df.columns:
    print(f"{i}: {df[i].dtype}")

Age: int64
Attrition: object
BusinessTravel: object
DailyRate: int64
Department: object
DistanceFromHome: int64
Education: int64
EducationField: object
EmployeeCount: int64
EmployeeNumber: int64
EnvironmentSatisfaction: int64
Gender: object
HourlyRate: int64
JobInvolvement: int64
JobLevel: int64
JobRole: object
JobSatisfaction: int64
MaritalStatus: object
MonthlyIncome: int64
MonthlyRate: int64
NumCompaniesWorked: int64
Over18: object
OverTime: object
PercentSalaryHike: int64
PerformanceRating: int64
RelationshipSatisfaction: int64
StandardHours: int64
StockOptionLevel: int64
TotalWorkingYears: int64
TrainingTimesLastYear: int64
WorkLifeBalance: int64
YearsAtCompany: int64
YearsInCurrentRole: int64
YearsSinceLastPromotion: int64
YearsWithCurrManager: int64

### Check for missing values and duplicates.

In [101]:
if df.isna().sum().any():
    print("There are missing values. Here they are:")
    print(df.isna().sum())
else:
    print("No missing values found.")

No missing values found.

In [102]:
if df.duplicated().any():
    print("There are duplicates. Here they are:")
    print(df[df.duplicated()])
else:
    print("No duplicates found.")

No duplicates found.

### Generate descriptive statistics.

In [103]:
df.describe()

,Age,DailyRate,DistanceFromHome,Education,EmployeeCount,EmployeeNumber,EnvironmentSatisfaction,HourlyRate,JobInvolvement,JobLevel,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
count,1470.000000,1470.000000,1470.000000,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,...,1470.000000,1470.0,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000,1470.000000
mean,36.923810,802.485714,9.192517,2.912925,1.0,1024.865306,2.721769,65.891156,2.729932,2.063946,...,2.712245,80.0,0.793878,11.279592,2.799320,2.761224,7.008163,4.229252,2.187755,4.123129
std,9.135373,403.509100,8.106864,1.024165,0.0,602.024335,1.093082,20.329428,0.711561,1.106940,...,1.081209,0.0,0.852077,7.780782,1.289271,0.706476,6.126525,3.623137,3.222430,3.568136
min,18.000000,102.000000,1.000000,1.000000,1.0,1.000000,1.000000,30.000000,1.000000,1.000000,...,1.000000,80.0,0.000000,0.000000,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000
25%,30.000000,465.000000,2.000000,2.000000,1.0,491.250000,2.000000,48.000000,2.000000,1.000000,...,2.000000,80.0,0.000000,6.000000,2.000000,2.000000,3.000000,2.000000,0.000000,2.000000
50%,36.000000,802.000000,7.000000,3.000000,1.0,1020.500000,3.000000,66.000000,3.000000,2.000000,...,3.000000,80.0,1.000000,10.000000,3.000000,3.000000,5.000000,3.000000,1.000000,3.000000
75%,43.000000,1157.000000,14.000000,4.000000,1.0,1555.750000,4.000000,83.750000,3.000000,3.000000,...,4.000000,80.0,1.000000,15.000000,3.000000,3.000000,9.000000,7.000000,3.000000,7.000000
max,60.000000,1499.000000,29.000000,5.000000,1.0,2068.000000,4.000000,100.000000,4.000000,5.000000,...,4.000000,80.0,3.000000,40.000000,6.000000,4.000000,40.000000,18.000000,15.000000,17.000000

## 2. Exploratory Data Analysis (EDA)

### Univariate analysis

In [104]:
def classify_columns_table(df):
    records = []
    
    for col in df.columns:
        if df[col].nunique() == len(df):
            col_type = "Unique"
        elif pd.api.types.is_numeric_dtype(df[col]):
            col_type = "Numeric"
        elif isinstance(df[col].dtype, pd.CategoricalDtype) or df[col].dtype == "object":
            col_type = "Categorical"
        else:
            col_type = "Leftover"
        
        records.append({
            "Column": col,
            "Assigned_Type": col_type,
            "Unique_Values": df[col].nunique(),
            "Example_Values": df[col].dropna().unique()[:5]  # show up to 5 examples
        })
    return pd.DataFrame(records)

classify_columns_table(df)

,Column,Assigned_Type,Unique_Values,Example_Values
0,Age,Numeric,43,"[41, 49, 37, 33, 27]"
1,Attrition,Categorical,2,"[Yes, No]"
2,BusinessTravel,Categorical,3,"[Travel_Rarely, Travel_Frequently, Non-Travel]"
3,DailyRate,Numeric,886,"[1102, 279, 1373, 1392, 591]"
4,Department,Categorical,3,"[Sales, Research & Development, Human Resources]"
5,DistanceFromHome,Numeric,29,"[1, 8, 2, 3, 24]"
6,Education,Numeric,5,"[2, 1, 4, 3, 5]"
7,EducationField,Categorical,6,"[Life Sciences, Other, Medical, Marketing, Tec..."
8,EmployeeCount,Numeric,1,[1]
9,EmployeeNumber,Unique,1470,"[1, 2, 4, 5, 7]"
10,EnvironmentSatisfaction,Numeric,4,"[2, 3, 4, 1]"
11,Gender,Categorical,2,"[Female, Male]"
12,HourlyRate,Numeric,71,"[94, 61, 92, 56, 40]"
13,JobInvolvement,Numeric,4,"[3, 2, 4, 1]"
14,JobLevel,Numeric,5,"[2, 1, 3, 4, 5]"
15,JobRole,Categorical,9,"[Sales Executive, Research Scientist, Laborato..."
16,JobSatisfaction,Numeric,4,"[4, 2, 3, 1]"
17,MaritalStatus,Categorical,3,"[Single, Married, Divorced]"
18,MonthlyIncome,Numeric,1349,"[5993, 5130, 2090, 2909, 3468]"
19,MonthlyRate,Numeric,1427,"[19479, 24907, 2396, 23159, 16632]"
20,NumCompaniesWorked,Numeric,10,"[8, 1, 6, 9, 0]"
21,Over18,Categorical,1,[Y]
22,OverTime,Categorical,2,"[Yes, No]"
23,PercentSalaryHike,Numeric,15,"[11, 23, 15, 12, 13]"
24,PerformanceRating,Numeric,2,"[3, 4]"
25,RelationshipSatisfaction,Numeric,4,"[1, 4, 2, 3]"
26,StandardHours,Numeric,1,[80]
27,StockOptionLevel,Numeric,4,"[0, 1, 3, 2]"
28,TotalWorkingYears,Numeric,40,"[8, 10, 7, 6, 12]"
29,TrainingTimesLastYear,Numeric,7,"[0, 3, 2, 5, 1]"
30,WorkLifeBalance,Numeric,4,"[1, 3, 2, 4]"
31,YearsAtCompany,Numeric,37,"[6, 10, 0, 8, 2]"
32,YearsInCurrentRole,Numeric,19,"[4, 7, 0, 2, 5]"
33,YearsSinceLastPromotion,Numeric,16,"[0, 1, 3, 2, 7]"
34,YearsWithCurrManager,Numeric,18,"[5, 7, 0, 2, 6]"

#### Age





Categorical analysis: Countplots for Attrition, Department, JobRole, MaritalStatus.

Bivariate analysis: Compare Attrition with Age, JobSatisfaction, MonthlyIncome, OverTime.

Correlation heatmap for numerical variables.

3. Data Preprocessing

Encode categorical variables (Label Encoding / One-Hot Encoding).

Normalize/standardize continuous variables.

Handle class imbalance in Attrition (SMOTE / class weights).

Train-test split (e.g., 80-20).

4. Model Building

Train at least 3 models:

Logistic Regression (baseline)

Random Forest Classifier

Gradient Boosting (XGBoost/LightGBM)

5. Model Evaluation

Use metrics: Accuracy, Precision, Recall, F1-score, AUROC.

Plot ROC curve and confusion matrix.

Compare model performance and choose the best one.

6. Feature Importance

Extract feature importance from tree-based models.

Discuss which features are most influential in predicting attrition.

7. Reporting

Write a concise report (2–3 pages) covering:

Problem statement

Data insights (EDA findings)

Model comparison table

Key takeaways (business-level insights for HR)